.login-background {
    background-image: url('../../../assets/login-background.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }
  
  .login-card {
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
  }
  
  .login-logo {
    max-width: 150px;
  }
  
  .container {
    z-index: 1;
  }
  
  .login-container {
    position: relative;
  }
  